<mat-toolbar class="custom-toolbar">
  <button id="menuIcon" (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span id="menuTitle">Adress Book</span>
  <a mat-button href="/" class="top-menu-item"><mat-icon>home</mat-icon>Home</a>
  <a mat-button href="/contacts" class="top-menu-item"><mat-icon>people</mat-icon>Contacts</a>
  <a mat-button  href="/newcontact" class="top-menu-item"><mat-icon>person_add</mat-icon>New Contact</a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="50" mode="side">
    <div class="side-nav-items">
      <div>
        <a (click)="sidenav.close()" mat-button href="/" class="side-menu-item"> <mat-icon>home</mat-icon>Home</a>
      </div>
      <div>
        <a (click)="sidenav.close()" mat-button href="/contacts" class="side-menu-item"><mat-icon>people</mat-icon>Contact</a>
      </div>
      <div>
        <a (click)="sidenav.close()" mat-button  href="/newcontact" class="side-menu-item"><mat-icon>person_add</mat-icon> New Contact</a>
      </div>  
    </div>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>


