.myInputs{
    display: flex;
    flex-direction: column;
    margin: 10px;
}


#updateContactTitle{
    margin: 20px;
    margin-bottom:40px ;

}

.actionsButtons{
    margin-left:0px ;
}

.formInput{
    color: black !important;
}