<div class="mainContent">
    <h1>New Contact</h1>

<div id="contactCard">
    <form [formGroup]="contactForm" class="myForm" (ngSubmit)="onSubmit()">
    <mat-card>
       
        <mat-card-content>
          
                <div>
                    <mat-form-field class="myInputs">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName" >
                      </mat-form-field>
                </div>
                <div>
                    
                <mat-form-field class="myInputs">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                  </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="myInputs">
                        <mat-label>Phone Number</mat-label>
                        <input matInput formControlName="phoneNumber">
                      </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="myInputs">
                        <mat-label>Address </mat-label>
                        <input matInput formControlName="address">
                      </mat-form-field>
                </div>
            
                 
          
              
            
              

        </mat-card-content>
        <mat-card-actions align="end">
          <button (click)="onCancel()" class="actionsButtons" mat-button color="warn" type="button">Cancel</button>
          <button class="actionsButtons" mat-button color="primary" type="submit" [disabled]="contactForm.invalid">Create</button>
        </mat-card-actions>
      </mat-card>
    </form>

</div>
</div>

